<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/buttonStyles.css"/>
    <link rel="stylesheet" href="/css/adminMainStyles.css"/>
    <link rel="stylesheet" href="/css/findCreatePageStyles.css"/>
</head>

<body>
<div th:replace="pageFragment/header::header"></div>


<div class="header-back"></div>

<div class="main-block">
    <div class="left-block">
        <img class="main-image" src="/images/mainPhoto.jpg" alt="photo">
    </div>


    <div class="central-tickets-block">
        <div class="search-title">Find personal</span></div>

        <div class="modal-content">
            <div id="personal-operations">
                <div class="personal-form-block">
                    <form class="find-personal" action="/admin/findPersonal" th:object="${personalJob}" method="post">
                        <input class="select" type="text" name="name" th:field="*{name}" placeholder="name">
                        <input class="select" type="text" name="surname" th:field="*{surname}" placeholder="surname">
                        <select id="find-job" class="select" th:field="*{jobTitle}" name="job">
                            <option  class="options" value="">job</option>
                            <option th:each="job:${jobs}" class="options" th:value="${job}" th:text="${job}"></option>
                        </select>
                        <select id="state" class="select" th:field="*{state}" name="state">
                            <option th:each="personalJobState:${personalStates}" class="options"
                                    th:value="${personalJobState}" th:text="${personalJobState}"></option>
                        </select>
                        <input class="button" type="submit" value="find">
                    </form>

                    <div class="button-see-all-block">
                        <form class="find-personal" action="/admin/findAllPersonal" method="post">
                            <input class="button" type="submit" value="see all">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="pageFragment/adminButtons::admin-buttons"></div>

</div>


<script>

  const buttonPersonal = document.getElementById("personal")
  const buttonService = document.getElementById("service")
  let buttonsFindCreatePersonal = document.getElementById("buttons-find-create-personal")
  const buttonsFindCreateService = document.getElementById("buttons-find-create-service")

buttonPersonal.onclick = function(){
buttonsFindCreatePersonal.style.display=  (buttonsFindCreatePersonal.style.display=== "flex") ? "none" : "flex";
  }

  buttonService.onclick = function(){
buttonsFindCreateService.style.display=(buttonsFindCreateService.style.display=== "flex") ? "none" : "flex";
  }








</script>


</body>