<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/buttonStyles.css"/>
    <link rel="stylesheet" href="/css/adminMainStyles.css"/>
    <link rel="stylesheet" href="/css/adminStartPageStyles.css"/>
    <link rel="stylesheet" href="/css/findCreatePageStyles.css"/>
    <link rel="stylesheet" href="/css/setShedulePageStyles.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>

<div th:replace="pageFragment/header::header"></div>

<div class="header-back"></div>

<div class="main-block">
    <div class="left-block">
        <img class="main-image" src="/images/mainPhoto.jpg" alt="photo">
    </div>

    <div class="central-tickets-block">

        <span class="doctor-name">Clients</span>


        <div class="found-personal">


            <div th:each="client:${clients}" class="personal-block">

                <div class="inst-info-block">

                    <div class="personal-name-block">
                        <span th:text="${client.name}" class="doctor-name"></span>
                        <span th:text="${client.surname}" class="doctor-name"></span>
                    </div>
                    <div class="personal-info">
                        <span th:text="'Telephone number: '+${client.telephoneNumber}" class="doctor-experience"></span>
                    </div>
                </div>

                <div class="founded-inst-buttons-block">



                <form  sec:authorize="hasAuthority('ROLE_ADMIN')" action="/admin/findClientTickets" method="post">
                    <input type="hidden" name="clientId" th:value="${client.id}">
                    <input class="button" type="submit" value="see tickets">
                </form>
                    <form  sec:authorize="hasAuthority('ROLE_DOCTOR')" action="/medCard/seeMedicalCard" method="post">
                        <input type="hidden" name="clientId" th:value="${client.id}">
                        <input class="button" type="submit" value="see medical card">
                    </form>

                <!------------------------------------------------------------------------------------->
                <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown">
                    <input onclick="toggleDropdown(this)" class="button" type="button" value="edit">
                    <div class="dropdown-content">
                        <!----------------------------------------------->
                        <form class="edit-form" action="/admin/editClient" th:object="${clientToEdit}" method="post">

                            <div class="name-input-block">
                                <input class="name-input" type="text" name="name" th:field="*{name}"
                                       placeholder="name">
                            </div>

                            <div class="name-input-block">
                                <input class="name-input" type="text" name="surname" th:field="*{surname}"
                                       placeholder="surname">
                            </div>

                            <div class="name-input-block">
                                <input class="name-input" type="text" name="telephoneNumber" th:field="*{telephoneNumber}"
                                       placeholder="telephone">
                            </div>

                            <div class="name-input-block">
                                <select id="find-job" class="select" th:value="${clientState}" name="state">
                                    <option th:each="clientState:${clientStates}" class="options"
                                            th:text="${clientState}"></option>
                                </select>
                            </div>
                            <input class="button" type="hidden" name="clientId" th:value="${client.id}">
                            <input class="button" type="submit" value="send">
                        </form>

                    </div>
                </div>

                </div>



            </div>


        </div>



    </div>
    <div id="right-block"></div>
    <div th:replace="pageFragment/adminButtons::admin-buttons"></div>


</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

    flatpickr("#date", {});
 flatpickr("#date1", {});


    const buttonPersonal = document.getElementById("personal")
   const buttonService = document.getElementById("service")
   let buttonsFindCreatePersonal = document.getElementById("buttons-find-create-personal")
   const buttonsFindCreateService = document.getElementById("buttons-find-create-service")

buttonPersonal.onclick = function(){
buttonsFindCreatePersonal.style.display=  (buttonsFindCreatePersonal.style.display=== "flex") ? "none" : "flex";
   }

   buttonService.onclick = function(){
buttonsFindCreateService.style.display=(buttonsFindCreateService.style.display=== "flex") ? "none" : "flex";
   }









   function toggleDropdown(button) {
               let dropdown = button.closest(".dropdown").querySelector(".dropdown-content");
               dropdown.style.display = (dropdown.style.display === "flex") ? "none" : "flex";
           }

    function editName(button) {
               let editNameForm = button.closest(".dropdown").querySelector(".edit-name");
               editNameForm.style.display = (editNameForm.style.display === "flex") ? "none" : "flex";
           }

    function editSurname(button) {
               let editSurnameForm = button.closest(".dropdown").querySelector(".edit-surname");
               editSurnameForm.style.display = (editSurnameForm.style.display === "flex") ? "none" : "flex";
           }

function editDob(button) {
               let editDobForm = button.closest(".dropdown").querySelector(".edit-dob");
               editDobForm.style.display = (editDobForm.style.display === "flex") ? "none" : "flex";
           }

    function editEmploymentDate(button) {
               let editEmploymentDateForm = button.closest(".dropdown").querySelector(".edit-employment-date");
               editEmploymentDateForm.style.display = (editEmploymentDateForm.style.display === "flex") ? "none" : "flex";
           }


</script>


</body>
</html>