<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/adminMainStyles.css"/>
</head>

<body>

<div th:replace="pageFragment/header::header"></div>

<div class="header-back"></div>


<div class="main-block">
    <div class="left-block">
        <img class="main-image" src="/images/mainPhoto.jpg" alt="photo">
    </div>

    <div class="central-tickets-block">

        <div class="search-title" th:if="${!tickets.empty}" th:text="'Your tickets'"></div>
        <div class="search-title" th:if="${tickets.empty}" th:text="'You have no tickets'"></div>
        <div class="search-title" th:if="${client!=null}" th:text="'You have no tickets'"></div>
        <div class="ticket-block-main">

            <div th:if="${!tickets.empty}" th:each="ticket: ${tickets}" class="client-block">
                <div>
                    <div class="client-name">
                        <span th:text=${ticket.client.name}></span>
                        <span th:text=${ticket.client.surname}></span>
                        <br><br>
                    </div>
                   <div class="client-info">
                       <span th:text=${ticket.service.type} class="client-date"></span>
                       <div th:if="${ticket.personalJob!=null}">
                           <span th:text=${ticket.personalJob.personal.name} class="client-date"></span>
                           <span th:text=${ticket.personalJob.personal.surname} class="client-date"></span>
                       </div>
                       <span th:if="${ticket.personalJob!=null}" th:text=${ticket.personalJob.jobTitle}
                             class="client-date"></span>
                       <div th:text=${ticket.date} class="client-date"></div>
                       <div th:text=${ticket.time} class="client-date"></div>
                       <span class="client-date">Price: </span> <span th:text=${ticket.service.price}
                                                                      class="client-date"></span>

                   </div>

                </div>
                <div class="client-tickets">
                    <form th:if="${ticket.cancelRequestFromRole!='ROLE_CLIENT'}"
                          class="client-form"
                          action="/client/requestForCancellation" method="post">
                        <input class="button" type="hidden" name="ticketId" th:value="${ticket.id}">
                        <input class="button" type="hidden" name="clientId" th:value="${ticket.client.id}">
                        <input class="button" type="submit" value="cancel">
                    </form>
                    <span class="for-cancel" th:if="${ticket.subState=='REQUEST_FOR_CANCELLATION'&&ticket.cancelRequestFromRole=='ROLE_CLIENT'}"
                          th:text="'request for cancellation'"></span>

                </div>
            </div>

            <form th:if="${tickets.empty}" class="client-form" action="/" method="get">
                <input class="button" type="submit" value="find service">
            </form>

        </div>

        <!---------------------------------------------------------contentBlock-->


    </div>

</div>

</body>

</html>