<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>

<div th:replace="pageFragment/header::header"></div>

<div class="header-back"></div>

<div class="main-block">
    <div class="left-block">
        <img class="main-image" src="/images/mainPhoto.jpg" alt="photo">
    </div>
    <div class="central-block">
        <div class="search">
            <div class="search-title">
                Enter your full name, surname and telephone number
            </div>
            <form action="/client/saveClient" method="post">
                <input class="select" type="text" name="name" placeholder="name">
                <input class="select" type="text" name="surname" placeholder="surname">
                <input class="select" type="text" name="telephone" placeholder="telephone">
                <input class="button" type="submit" value="send">
            </form>
        </div>


    </div>
    <div class="right-block">
    </div>
</div>
</body>